@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}
<div class="sidebar sidebar-style-2">
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <div class="user">
                <div class="avatar-sm float-left mr-2">
                    <img src="~/@user.UrlAvatar" alt="..." class="avatar-img rounded-circle">
                </div>
                <div class="info">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                            <span>
                                @user.FirstName @user.LastName
                                <span class="user-level">@user.UserName</span>
                                <span class="caret"></span>
                            </span>
                        </a>
                    }
                    <div class="clearfix"></div>

                    <div class="collapse in" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a href="#profile">
                                    <span class="link-collapse">My Profile</span>
                                </a>
                            </li>
                            <li>
                                <a asp-area="Admin" asp-controller="Administration" asp-action="EditUser" asp-route-id="@user.Id">
                                    <span class="link-collapse">Edit Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="#settings">
                                    <span class="link-collapse">Settings</span>
                                </a>
                            </li>
                            <li>
                                <a href="/account/logout">
                                    <span class="link-collapse">Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <ul class="nav nav-primary">
                <li class="nav-item active">
                    <a href="/admin">
                        <i class="fas fa-home"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Managements</h4>
                </li>

                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a data-toggle="collapse" href="#base">
                            <i class="fas fa-layer-group"></i>
                            <p>Jobs</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="base">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="/admin/jobs/create">
                                        <span class="sub-item">New Job</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/jobs">
                                        <span class="sub-item">List Jobs</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/candidates">
                                        <span class="sub-item">List Candidates</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/home/resume">
                                        <span class="sub-item">List Resumes</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="collapse" href="#sidebarLayouts">
                            <i class="fas fa-th-list"></i>
                            <p>User Managements</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="sidebarLayouts">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="/admin/auth/listUsers">
                                        <span class="sub-item">List Users</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/auth/list-roles">
                                        <span class="sub-item">List Roles</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                }
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Recruitment"))
                {
                    <li class="nav-item">
                        <a data-toggle="collapse" href="#base">
                            <i class="fas fa-layer-group"></i>
                            <p>Jobs</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="base">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="/admin/jobs/create">
                                        <span class="sub-item">New Job</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/jobs">
                                        <span class="sub-item">List Jobs</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/candidates">
                                        <span class="sub-item">List Candidates</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/home/resume">
                                        <span class="sub-item">List Resumes</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>